spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/java_hexagonal
    username: root
    password:
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG